# General ignores
*.log
*.o
*.out
*.tmp
*~

# Auto-tools generated
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1

# Default symlinks
COPYING
INSTALL

# Cool-Auto generated
libauto

# .in-subst
postinst
prerm

# Generated stuff
# itree.tex

# TeX
*.aux
*.bbl
*.blg
*.cb
*.dvi
*.glo
*.idx
*.ilg
*.ind
*.lof
*.lot
*.toc
*.xdv
*.pdf

# Archives
*.bz2
*.gz
*.xz
*.zip

# Debian Packaging
*.substvars
*.dsc
*.deb
*.build
*.changes
*.upload
.deps

# --- Regexp not works here ---
*/*/debian/changelog
*/*/debian/compat
*/*/debian/copyright
*/*/debian/rules
*/*/debian/files
*/*/debian/*.ex
*/*/debian/*.EX
*/*/debian/*/

# IDE generated
.metadata

# Development
bin

/stats/
