[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=sweeper
Exec=/usr/bin/invoker --type=d -s /opt/sweeper/bin/sweeper
Icon=/usr/share/icons/hicolor/80x80/apps/sweeper80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
