[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Happy Sweeper
Name[zh_CN]=快乐扫地
Name[zh_TW]=快樂掃地
Name[zh_HK]=快樂掃地
Exec=/usr/bin/invoker --type=d -s /opt/sweeper/bin/sweeper
Icon=/usr/share/icons/hicolor/80x80/apps/sweeper80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
