[Desktop Entry]
Encoding=UTF-8
Version=1.1
Type=Application
Terminal=false
Name=Remember Words
Name[zh_CN]=世界语背单词
Name[zh_HK]=世界語背單詞
Name[zh_TW]=世界語背單詞
Exec=/usr/bin/invoker --type=d -s /opt/copyword/bin/copyword
Icon=/usr/share/icons/hicolor/80x80/apps/copyword80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
