[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=La Esperanto Vortaro
Name[zh_CN]=世界语小辞典
Name[zh_HK]=世界語小辭典
Name[zh_TW]=世界語小辭典
Exec=/opt/etvortaro/bin/etvortaro
Icon=etvortaro64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
